@media screen and (max-width: 1024px)
	/* (Start) Блок типа Картинка */
	.article .block-type-i
		margin-inline: -1rem
	/* (End) Блок типа Картинка */

	/* (Start) Блок типа Картинка и Контент */
	.article .block-type-ic .block-descr
		max-width: 50%
	/* (End) Блок типа Картинка и Контент */

	/* (Start) Блок типа Контент Картинка Контент */
	.article .block-type-cic
		grid-template-columns: repeat(2, 1fr)
	/* (End) Блок типа Контент Картинка Контент */

	/* (Start) Блок типа Заголовок Картинка */
	.article .block-type-ti
		flex-direction: column
		gap: 1rem
		margin-bottom: 1.875rem
	/* (End) Блок типа Заголовок Картинка */

	/* (Start) Блок типа Заголовок Контент */
	.article .block-type-tc
		flex-direction: column
		gap: .5rem

	.article .block-type-tc .block-content
		gap: 1.5rem
	/* (End) Блок типа Заголовок Контент */

@media screen and (max-width: 768px)

	:root
		--font-size--md: 1rem
		--font-size--lg: 1.25rem
		--font-size--xl: 1.5rem
		--font-size--xxl: 1.5rem
		--font-size--txl: 1.75rem
		--font-size--qxl: 2rem

	.article .btn
		min-height: 2.25rem
		font-size: var(--font-size--md)
		padding-block: .5rem

	/* (Start) Блок типа Картинка и Контент */

	.article .block-type-ic,
	.article .block-type-ic.reverse
		flex-direction: column-reverse

	.article .block-type-ic .block-descr
		max-width: unset

	.article .block-type-ic .block-image
		max-width: 60%
	/* (End) Блок типа Картинка и Контент */

	/* (Start) Блок типа Множество Картинок и Контент */
	.article .block-type-mic
		justify-content: space-between
		gap: 1.5rem

	.article .block-type-mic > *
		flex: 0

	.article .block-type-mic > *:first-child
		flex-basis: 30%

	.article .block-type-mic > *:last-child
		flex-basis: calc( 70% - .75rem )

	.article .block-type-mic .block-images
		grid-template-columns: repeat(3, 1fr)
		align-content: start
		gap: .75rem
	/* (End) Блок типа Множество Картинок и Контент */

	/* (Start) Блок типа пошагово Картинка и Контент */
	.article .block-type-lic li
		gap: 2rem

	.article .block-type-lic .block-image
		width: 30%

	.article .block-type-lic .block-content
		font-size: var(--font-size--lg)
	/* (End) Блок типа пошагово Картинка и Контент */

	/* (Start) Блок типа Контент Картинка Контент */
	.article .block-type-cic
		grid-template-columns: repeat(1, 1fr)
		grid-template-rows: repeat(3, auto)

	.article .block-type-cic .block-image
		grid-column: unset
		grid-row: 2 / 3
	/* (End) Блок типа Контент Картинка Контент */

	/* (Start) Блок Важно */
	.article .block-important
		font-size: var(--font-size--md)
	/* (End) Блок Важно */

	/* (Start) Блок типа Заголовок Контент */
	.article .wrapper-type-tc
		padding-block: 3.125rem
	
	.article .block-type-tc
		flex-direction: column
		gap: 0

	.article .block-type-tc .block-content
		gap: 1rem	

	.article .block-type-tc h2
		font-size: var(--font-size--txl)
	.article .block-type-tc .block-accent
		font-size: var(--font-size--qxl)
	/* (End) Блок типа Заголовок Контент */

	/* (Start) Блок типа Предложение купить */
	.article .wrapper-type-otb
		padding-block: 3.125rem

	.article .block-type-otb > h2
		font-size: var(--font-size--lg)
		text-align: center

	.article .block-products
		grid-template-columns: repeat(2, 1fr)
		gap: 3.5rem
		padding-top: 1rem

	.article .block-products > li
		gap: 1rem

	.article .product-image,
	.article .product-price
		margin-bottom: 1rem
	
	.article .product-title
		font-size: var(--font-size--md)
	/* (End) Блок типа Предложение купить */

	/* (Start) Блок типа Описание Видео*/
	.article .block-video
		padding-block: 3.125rem
	
	.article .block-video h2,
	.article .block-video .video-author
		margin-bottom: 1rem

	.article .block-video h2
		font-size: var(--font-size--lg)

	.article .block-video .video-author
		font-size: var(--font-size--md)

	.article .block-video .video-descr
		margin-bottom: 1.5rem
	/* (End) Блок типа Описание Видео*/

@media screen and (max-width: 576px)
	/* (Start) Блок типа Картинка и Контент */
	.article .block-type-ic
		gap: 1.5rem

	.article .block-type-ic .block-image
		max-width: 90%
	/* (End) Блок типа Картинка и Контент */

	/* (Start) Блок типа Множество Картинок и Контент */
	.article .block-type-mic
		flex-direction: column

	.article .block-type-mic > *:first-child
		flex-basis: 100%

	.article .block-type-mic > *
		flex-basis: 100%

	.article .block-type-mic .block-images
		grid-template-columns: repeat(1, 1fr)
	/* (End) Блок типа Множество Картинок и Контент */

	/* (Start) Блок типа пошагово Картинка и Контент */
	.article .block-type-lic li
		flex-direction: column
		gap: 1.5rem

	.article .block-type-lic .block-image
		width: 100%
		max-width: 175px
	/* (End) Блок типа пошагово Картинка и Контент */

	/* (Start) Блок типа Заголовок Картинка */
	.article .block-type-ti .block-image
		max-width: 175px
	/* (End) Блок типа Заголовок Картинка */

	/* (Start) Блок типа Предложение купить */
	.article .block-products
		grid-template-columns: repeat(1, 1fr)
	/* (End) Блок типа Предложение купить */
